@import './constants';

.header {
  margin-top: $navbar-height;
  padding-top: $section-vertical-margin;
  //background-image: url('../images/hex.svg');
  //background-blend-mode: darken;
  //background-size: cover;
  //background-repeat: repeat-x !important;
  width: 100vw;
  color: $blue;
  
  .header-logo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96%;
    width: 20em;
    height: 20em;
    float: right;
  }

  .content {
    display: flex;
    justify-content: center;
  }
  
  .header-text {
    float: left;
  }

  .subcontent {
    font-family: 'Bebas Neue';
    font-size: 2rem;
  }

  .registration {
    height: 45%;
    color: black;
    font-size: 1.5rem;
    padding-top: 10px;
  }
  

  @media only screen and (max-width: 840px) {
    .header-logo {
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 1em;
      width: 16em;
      height: 16em;
      float: right;
    }

    .subcontent {
      font-size: 1.6rem;
    }
  }

  @media only screen and (max-width: 570px) {
    margin-top: $navbar-height-mobile;

    .header-logo {
      margin-top: .5em;
      margin-bottom: .5em;
      margin-left: .5em;
      width: 10em;
      height: 10em;
      float: right;
    }

    .subcontent {
      font-size: 1.4rem;
    }
  }
}
