@import './constants';

.header {
  //margin-top: $navbar-height + $banner-height;
  padding: 3.5vh 0vh 3.5vh 0vh;
  position: relative;
  width: 100vw;
  max-height: 100vh;
  color: $blue;

  .content {
    margin: 5vw;
    display: flex;
    justify-content: center;
  }

  .header-text {
    float: left;
  }

  .subcontent {
    margin-left: 2.5vw;
    font-size: 3.5vw;
  }
  
  .title {
    font-size: 8.5vw;
  }

  .header-logo {
    margin-top: 2vw;
    margin-bottom: 3.9vw;
    margin-left: 2vw;
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96%;
    width: 34vw;
    height: 34vw;
    float: right;
  }

  @media only screen and (max-width: 840px) {
  }

  @media only screen and (max-width: 570px) {
    margin-top: $navbar-height-mobile + $banner-height;
  }
}
